/* .scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 9999px;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a transparent;
}
 */