.input-fields{
    position: relative;
    font-size: 1.3em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px 0 5px 0;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #c2c2c2;
    background: transparent;
    color: white; 
    outline: none;
    transition: all 0.5s ease-in-out;
}

.input-fields label {
    position: absolute;
    top: 10px; 
    left: 0;
    font-size: 1.1em;
    color: #c1c1c1;
    pointer-events: none; 
    transition: all 0.5s ease-out; 
}

.input-fields input:focus{
    border-bottom: 2px solid #ffffff;
}

.input-fields input:focus + label,
.input-fields input:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 0.8em;
  color: #c3c3c3;
}

.submit-btn{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 5px 50px;
}

.submit-btn:hover{
    box-shadow: inset -3px -3px 7px 1px #fff, inset 3px 3px 7px 1px #ffffff;
    transition: 0.3s ease-in-out;
}

@media (max-width: 640px) {
  .input-fields {
    font-size: 1.1em;
  }

  input {
    font-size: 0.95em;
  }
}
