/* .bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55em;
    width: 55em;
    border-radius: 50%;
    box-sizing: border-box;
    transition: box-shadow 0.5s ease-in-out;
} */

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(90vw, 55em);
    width: min(90vw, 55em);
    border-radius: 50%;
    box-sizing: border-box;
    transition: box-shadow 0.5s ease-in-out;
}

@media (max-width: 640px) {
  .bubble {
    height: 95vw;
    width: 95vw;
  }
}
.web-name{
    background: linear-gradient(90deg, #fff, #b3b3b3);
    text-decoration: underline #b3b3b3 ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.auth-transition {
    animation: fadeMove 1.5s ease;
  }
  
  @keyframes fadeMove {
    0% {
      opacity: 0;
      transform: translateY(200px) scale(0.97);
    }
    60% {
      opacity: 1;
      transform: translateY(0px) scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .bubble.signup-mode {
    box-shadow: inset 10px 15px 10px rgba(255, 255, 255, 0.1),
            inset 10px -15px 30px rgba(209, 217, 230, 0.5),
            inset 5px 0px 20px rgba(249, 249, 249, 0.5);  ;
  }
  .bubble.login-mode {
    box-shadow: inset -10px 15px 10px rgba(255, 255, 255, 0.1),
                inset -5px -5px 20px rgba(209, 217, 230, 0.9),
                inset -15px 0px 30px rgba(249, 249, 249, 0.5);
  }

  @media (max-width: 640px) {
  .auth-login {
    margin-top: 2rem !important;
  }

  .row-2 {
    margin-bottom: 4rem !important;
  }
}
@media (max-width: 640px) {
  .submit-btn {
    padding: 8px 32px;
    font-size: 0.95em;
  }
}
