*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #09090b; 
}

*::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 9999px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a transparent;
}